items-giver {
  ion-header {
    > {
      width: 50%;
      text-align: center;
    }
  }
  .lists-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr 50px 50px;
    grid-template-areas:
      "title title"
      "left-side right-side"
      "footer footer"
      "confirm confirm";
    .title {
      grid-area: title;
      text-align: center;
    }
    .left-side {
      grid-area: left-side;
      overflow-y: auto;
    }
    .right-side {
      grid-area: right-side;
      overflow-y: auto;
    }
    .footer {
      grid-area: footer;
      text-align: center;
    }
    .confirm {
      text-align: center;
      grid-area: confirm;
    }
  }
}
