<ion-header>
  <ion-navbar>
    <ion-title>Asignación de items</ion-title>
  </ion-navbar>
</ion-header>
<div style="height: 100%">
  <ion-content>
    <div style="height: 100%">
      <div class="lists-container">
        <ion-list class="left-side">
          <ion-label text-center>
            <h1>Personajes</h1>
          </ion-label>
          <ion-item *ngFor="let character of characters; let i = index">
            <ion-checkbox [(ngModel)]="checkedCharacters[i]" type="checkbox" id="">
            </ion-checkbox>
            <ion-label>{{character.value.name}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="right-side">
          <ion-label text-center>
            <h1>Items</h1>
          </ion-label>
          <ion-item *ngFor="let item of items; let i = index">
            <ion-checkbox [(ngModel)]="checkedItems[i]" type="checkbox" id="">
            </ion-checkbox>
            <ion-label>{{item.value.name}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-item class="footer">
          <ion-input text-center type="number" placeholder="Cantidad" [(ngModel)]="amount"></ion-input>
        </ion-item>
        <button ion-button padding full class="confirm" style="margin: 0" (click)="commit()">Confirmar</button>
      </div>
    </div>
  </ion-content>
</div>