<ion-header>

  <ion-navbar>
    <ion-title text-capitalize>{{match.name.value}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let character of  match.characters" (click)="viewCharacter(character.key)"> {{character.value.name}}
    </ion-item>
    <ion-item *ngIf="!hasCharacter" (click)=selectCharacter()>
      <button ion-button padding round>Seleccionar personaje!</button>
    </ion-item>
    <ion-item *ngIf="isMatchDM" (click)=navDMPage()>
      <button ion-button padding round>Administrar partida</button>
    </ion-item>
  </ion-list>
</ion-content>