textarea {
  resize: none;
}
.scroll-content {
  overflow-y: auto;
}
.item-md button.item-button {
  height: inherit;
}
.button-md {
  height: 48px;
}
.button-full.button-round.button-outline {
  border-radius: 64px;
  border-right-width: 1px;
  border-left-width: 1px;
}
span.main-title {
  font-size: 20px;
  margin-top: 8px;
  display: block;
}
.form {
  padding: 8px 24px 8px 16px;
  &.login {
    padding: 8px 24px 8px 8px;
  }
  span.error {
    display: block;
    padding-left: 16px;
    text-align: left;
    color: red;
  }
  ion-item.selector {
    cursor: pointer;
    display: inline-block;
    padding-right: 8px;
    width: calc(100% - 44px);
    + button[ion-fab] {
      display: inline-block;
      vertical-align: bottom;
      box-shadow: none;
      margin: 8px 0;
    }
    * {
      cursor: pointer;
    }
  }
  ion-item.item-input-disabled .item-inner {
    border-bottom: 1px solid #dedede !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}
ion-fab[bottom] {
  bottom: 16px;
}
ion-fab[right] {
  right: 16px;
}
ion-fab[left] {
  left: 16px;
}
.scroll-content {
  padding-top: 56px !important;
}
